/************************************ Font Styles ******************************/
 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700,800');
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
/************************************ Main      display:none !important; ******************************/

body#tinymce.wp-editor { 
	max-width: 100%!important;
}


/* HIDE MENU */
/* #menu-posts, #menu-comments, #menu-appearance, #menu-plugins, #menu-users, #menu-tools, #menu-settings, #toplevel_page_loginwp-settings, 
#toplevel_page_edit-post_type-acf-field-group, #toplevel_page_cptui_main_menu, #toplevel_page_members,
#dashboard_right_now, #dashboard_activity, #dashboard_quick_press, #dashboard_primary {
    display: none;
} */
li#toplevel_page_\.\.-cave-inventory {
    display: none;
}